    /* way one to center a div 
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% -50%);
*/
            /* way two to center a div 
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;
            top: 50%;
            left: 50%;
*/

            /* way three to center a div    

            display: grid;
            place-items: center;
            top: 50%;
*/          

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #fffefa;
    }

form{
    background: linear-gradient(0deg, #f8f5e8 86%, #ab8259 25%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid rgb(146, 145, 145);
    border-radius: 10px;
    width: 50%;
    height: 90%;
    /* display: flex; */
    /* padding: 50px; */
    font-size: 20px;
}

p{
    height: 57px;
    position: relative;
    margin-top: 22px;
    margin-bottom: 52px;
    width: 100%;
    border-bottom: 2px solid black ;
    font-size: 24px;
}

.info{
    border-width: 0 0 2px 0;
    width: 100%;
    border-color: #ab8259;
    margin-top: 20px;
    padding: 5px;
    background-color: inherit;
    font-size: 20px;
}

.field{
    margin: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.info:focus{
    outline: none;
}
::placeholder{
    opacity: 1;
    color: #8e6d47;
    font-size: 16px;
}

.btn{
    padding: 14px 24px;
    border-radius: 5px;
    width: 40%;
    cursor: pointer;
    background-color: #ab8259;
    color: black;
    transition: 0.3s;
    font-size: 20px;

}
.btn:hover{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #ffead5;
}

.btn:hover:after{
    width: 0%;
}

a{
    color:#0599e9 ;
    text-decoration: none;
    position: relative;
}

a:hover{
    color:#ab8259;
    width: 20%;
}

a:after{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #684018;
    left: 0;
    transition: 0.3s;
    bottom: -7px;
}

a:hover:after{
    width: 100%;
}



/* responsivness media query*/

@media only screen and (max-width: 1140px) {
   
    p{
        height: 62px;
        font-size: 22px;
        margin-bottom: 25px;
    }

    .btn {
        font-size: 18px;
        padding: 12px 22px;
    }

    form{
        height: 95%;
        width: 60%;
        background: linear-gradient(0deg, #f8f5e8 88%, #ab8259 25%);

    } 
    
    .field{
        display: inline-block;
        width: 80%;
}

  }


  @media only screen and (max-width: 550px) {

    form{
        height: 95%;
        width: 75%;
        background: linear-gradient(0deg, #f8f5e8 88%, #ab8259 25%);
    } 

    
    .btn {
        font-size: 16px;
        padding: 10px 20px;
    }

  }