*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color:#fffefa;   
}

.header{
    background-color:#ab8259 ;
    height: 110px;
    overflow: hidden;
    align-items: center;
    position: relative;
    justify-content: space-between;
    display: flex;
}

.header ul li{
    display: inline-block;
    padding-right:40px ;
    font-style: italic;
    font-size: 20px;
}

/* .nav {
    display: none;
} */

.header a{
    text-decoration: none;
    color: #000;
    transition:0.2s;
    position: relative;
}

.header a:hover{
    color: #3b2710;
    top: -2px;
}

.header a:after{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #efcf51fc;
    left: 0;
    transition: 0.3s;
    top: 23px;
}

.header a:hover:after{
    width: 100%;
} 

.logo{
    padding-left: 30px;
}

.logo a:hover::after{
width: 0;}

.logo img{
    width: 90px;
    transition: 0.3s;
}

.logo img:hover{
    width: 105px;
}

/* images containers */

.card_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    cursor: pointer;
    
}

.card{
    width: 250px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card img{
    width: 100%;
    height: 260px;
    transition: 0.3s;
}
.card img:hover{
    width: 110%;
    height: 340px;
}

.card_info{
    padding: 16px;
}

.card_info h4{  
    font-size: 20px;
    margin-bottom: 8px;
}

.card_info p{
    color: #464646;
    font-size: 15px;
    line-height: 1.3;
    padding-bottom: 8px;
}

.buy{
    padding: 12px;
    border-radius: 5px;
    background-color: #ab8259;
    color: #2e1414;
    /* font-weight: bold; */
    width: 100%;
    font-size: 14px;
    border:none;
    transition: 0.3s;
    box-shadow: 5px 10px 8px  #c9c6c4
}

.buy:hover {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
    transform: scale(1.08);
    background-color: #cda883;
    color: #755433;

}
/* responsivness media query*/

@media only screen and (max-width: 630px) {

    .card_container{
        margin-top: 80px;
    }
    
    .card{
        width: 170px;
        margin: 10px;
    }

    .card img{
        width: 100%;
        height: 180px;
    }

    .card img:hover{
        width: 120%;
        height: 120px;
    }

    .card_info{
        padding: 10px;
    }
    
    .card_info h4{
        font-size: 15px;
        margin-bottom: 8px;
    }

    .card_info p{
        color: #464646;
        font-size: 13px;
        line-height: 1.3;
    }

    .buy{
        background-color: #ab8259;
        color: #2e1414;
        padding: 6px;
        width: 100%;

    }
    
}

@media only screen and (max-width: 430px) {
    .header .yarnpic li {
        width: 70px;
        
    }
    
}


@media only screen and (max-width: 845px) {

    .header{
        overflow: visible;
    }

    .hamburger{
        position: absolute;
        padding-right: 40px;
        top: 10;
        right: 0%;
        /* padding:30px 0 0 50px; */
        /* top: 50px;
        left: 30px; */
    }

    .header li{
        padding: 20px;
        border-bottom: 2px solid #f2c86c;
        width: 100%;
    }

    .logo li  {
        border-color: #fffefa;
    }

     .nav {
        /* display: none; */
        background-color: #fde791fc;
        width: 100%;
        text-align: center;
        top:110px;
        right: -1000px;
        position: fixed;
        height: auto; 
        color: #000;
        /* display: flex;
        flex-direction: column; */
        transition: 0.3s ease;
    }

    .nav.active{
        right: 0;        
        display: block;
    }

    .nav li:hover{
        background-color: #efcf51fc;
    }

    .hamburger span  {
        background-color:rgb(23, 6, 1);
        width: 38px;
        height: 5px;
        display: block;
        cursor: pointer;
        border-radius: 5px;
        margin-bottom: 4px;
        transition:0.2s;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(9px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-9px) rotate(-45deg);
    }

}